// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) 2019 Wiwynn Inc.
/dts-v1/;

#include "aspeed-g5.dtsi"
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
	model = "SV310G4 BMC";
	compatible = "wiwynn,sv310g4-bmc", "aspeed,ast2500";
	aliases {
		serial0 = &uart1;
		serial4 = &uart5;
	};
	chosen {
		stdout-path = &uart5;
		bootargs = "console=ttyS4,115200 earlyprintk";
	};

	memory@80000000 {
		reg = <0x80000000 0x20000000>;
	};
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash_memory: region@98000000 {
            no-map;
            reg = <0x98000000 0x04000000>; /* 64M */
        };

		vga_memory: framebuffer@7f000000 {
			no-map;
			reg = <0x7f000000 0x01000000>;
		};
        safs_memory: region@30000000 {
            no-map;
            reg = <0x30000000 0x08000000>; /* 128M */
        };

        gfx_memory: framebuffer {
            size = <0x04000000>;
            alignment = <0x01000000>;
            compatible = "shared-dma-pool";
            reusable;
        };
	};

	iio-hwmon {
		compatible = "iio-hwmon";
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>,
			<&adc 4>, <&adc 5>, <&adc 6>, <&adc 7>, <&adc 8>,
			<&adc 9>, <&adc 10>, <&adc 11>, <&adc 12>, <&adc 13>,
			<&adc 14>, <&adc 15>;
	};
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
// #include "openbmc-flash-layout.dtsi"
		#include "openbmc-flash-layout-64.dtsi"
	};
	flash@1 {
		status = "okay";
		m25p,fast-read;
		label = "bmc2";
	};
};

&adc {
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1_default>;
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ncts1_default
                 &pinctrl_ndcd1_default
                 &pinctrl_ndsr1_default
                 &pinctrl_nri1_default
                 &pinctrl_ndtr1_default
                 &pinctrl_nrts1_default
                 &pinctrl_txd1_default
                 &pinctrl_rxd1_default>;
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart5 {
	// BMC Console
	status = "okay";
};

&kcs1 {
	// BMC KCS channel 1
	status = "okay";
	aspeed,lpc-io-reg = <0xca0>;
};

&kcs2 {
	// BMC KCS channel 2
	status = "okay";
	aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
	// BMC KCS channel 3
	status = "okay";
	aspeed,lpc-io-reg = <0xca2>;
};

/*
&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};
*/

&mac1 {
	status = "okay";
	pntctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
	//use-ncsi;
};

&i2c0 {
	status = "okay";

	power-supply@58{
		compatible = "pmbus";
		reg = <0x58>;
	};

	power-supply@59{
		compatible = "pmbus";
		reg = <0x59>;
	};

	/* PSU0 FRU */
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	/* PSU1 FRU */
	eeprom@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
	};
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
	multi-master =<1>;
	ipmb@10 {
		compatible = "ipmb-dev";
		reg = <0x10>;
		i2c-protocol;
	};
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
	eeprom@54 {
		compatible = "atmel,24c64";
		reg = <0x54>;
		pagesize = <32>;
	};

	/* Fan Power */
	ina219@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		shunt-resistor = <2000>;
	};

	/* SYS Inlet */
	lm75@4e {
		compatible = "ti,lm75";
		reg = <0x4e>;
	};

	/* SYS Outlet */
	lm75@4f {
		compatible = "ti,lm75";
		reg = <0x4f>;
	};
};

&i2c8 {
	status = "okay";
	/* FP Temp */
	lm75@49 {
		compatible = "ti,lm75";
		reg = <0x49>;
	};
};

&i2c9 {
	status = "okay";
};

&i2c10 {
	status = "okay";
};

&i2c11 {
	status = "okay";
};

&i2c12 {
	status = "okay";
};

&i2c13 {
	status = "okay";
};

&lpc_ctrl {
	status = "okay";
	memory-region = <&flash_memory>;
	flash = <&spi1>;
};

&peci0 {
    status = "okay";
};

&lpc_snoop {
    status = "okay";
    snoop-ports = <0x80>;
};

&pwm_tacho {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0_default
                 &pinctrl_pwm1_default
                 &pinctrl_pwm2_default
                 &pinctrl_pwm3_default
                 &pinctrl_pwm4_default
                 &pinctrl_pwm5_default>;
	fan@0 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x00>;
	};

	fan@1 {
		reg = <0x00>;
		aspeed,fan-tach-ch = /bits/ 8 <0x01>;
	};

	fan@2 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x02>;
	};

	fan@3 {
		reg = <0x01>;
		aspeed,fan-tach-ch = /bits/ 8 <0x03>;
	};

	fan@4 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x04>;
	};

	fan@5 {
		reg = <0x02>;
		aspeed,fan-tach-ch = /bits/ 8 <0x05>;
	};

	fan@6 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x06>;
	};

	fan@7 {
		reg = <0x03>;
		aspeed,fan-tach-ch = /bits/ 8 <0x07>;
	};

	fan@8 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x08>;
	};

	fan@9 {
		reg = <0x04>;
		aspeed,fan-tach-ch = /bits/ 8 <0x09>;
	};

	fan@10 {
		reg = <0x05>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0a>;
	};

	fan@11 {
		reg = <0x05>;
		aspeed,fan-tach-ch = /bits/ 8 <0x0b>;
	};
};
