[Unit]
Description=SV310G4 GPIO Initialization

[Service]
Type=oneshot
ExecStart=/usr/sbin/sv310g4-gpio-init.sh
SyslogIdentifier=sv310g4-gpio-init

[Install]
WantedBy=sysinit.target
