[Unit]
Description=c600g5 CPU Throttle event deassert Service

[Service]
Type=oneshot
ExecStart=/usr/bin/env identify_cpu_throttle_event.sh throttle skip deassert
