[Unit]
Description=End-of-Bios-Post Event Log Service

[Service]
Type=oneshot
ExecStart=/usr/bin/busctl call "xyz.openbmc_project.Logging.IPMI" "/xyz/openbmc_project/Logging/IPMI" "xyz.openbmc_project.Logging.IPMI" "IpmiSelAddOem" sayy "BIOS_Post_Complete" 9 0x20 0x00 0x04 0x12 0xd5 0x6f 0x01 0xff 0xff 0x02
SyslogIdentifier=end-of-post-event
