[Unit]
Description=Set Identify Button Assert

[Service]
Type=oneshot

ExecStart=/usr/bin/env toggle-identify-led.sh

ExecStopPost=/usr/bin/busctl set-property xyz.openbmc_project.GpioMonitor /xyz/openbmc_project/gpio/status xyz.openbmc_project.GpioStatus 218 s "Idle"
