[Unit]
Description=Set Post Complete Deassert

[Service]
Type=oneshot

ExecStart=/usr/bin/busctl set-property "org.openbmc.control.Power" "/org/openbmc/control/power0" "org.openbmc.control.PostComplete" "postcomplete" i 1

ExecStopPost=/usr/bin/busctl set-property xyz.openbmc_project.GpioMonitor /xyz/openbmc_project/gpio/status xyz.openbmc_project.GpioStatus 215 s "Idle"
